<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/AirbnbIndia"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/Airbnb"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-brand">
            &copy; WanderLust Private Limited
        </div>
        <div class="f-info-links">
            <a href="https://www.airbnb.co.in/help/article/2855">Privacy</a>
            <a href="https://www.airbnb.co.in/help/article/2908">Terms</a>
        </div>
    </div>
</footer>
